body {
    background-color: #FFF5FB;
}

.container {
    background-color: #fff;
    display: block;
    width: 1100px;
    margin: 40px auto 0 auto;
    padding: 50px 40px 0 40px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.first-block {
    display: flex;
    gap: 80px;
}

.navigation {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.nav-list {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #222;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    font-family: "Zen Dots", sans-serif;
    color: #222;
    margin: 0 0 20px 0;
}

.profession {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #8F8F8F;
    margin: 0;
}

.left-side {
    width: 300px;
    height: 300px;
}

.right-side {
    width: 640px;
    margin: auto 0;
}

.second-block {
    display: flex;
    gap: 80px;
    margin: 60px 0 0 0;
}

.name-block {
    font-size: 20px;
    font-family: "Zen Dots", sans-serif;
    font-weight: 500;
    color: #222;
    margin: 0 0 15px 0;
}

p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #222;
}

b {
    margin: 0 5px 0 0;
}

.list {
    list-style-type: none;
    padding: 0;
}

.description {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #222;
    margin: 5px 0;
}

.second-right-side {
    width: 640px;
}

.second-description {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 150%;
    color: #222;
    margin: 5px 0 40px 0;
}

.second-left-side {
    width: 300px;
}

.box {
    margin: 0 0 40px 0;
}

ul {
    padding: 0 0 0 20px;
    line-height: 150%;
}

.left-line {
    margin: 0 0 20px 0;
    display: flex;
}

.right-line {
    margin: 0 0 20px 0;
    display: flex;
}

.footer {
    padding: 0 40px;
    margin: 0 auto 40px auto;
    display: flex;
    height: 80px;
    width: 1100px;
    background-color: #FDA8DA;
    align-items: center;
}

.github {
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.github_name {
    font-size: 20px;
    font-family: "Zen Dots", sans-serif;
    font-weight: 500;
    color: #222;
}

.github_icon {
    margin-right: 10px;
}

.rs_logo {
    justify-content: flex-start;
}

.year {
    font-size: 20px;
    font-family: "Zen Dots", sans-serif;
    font-weight: 500;
    color: #222;
    justify-content: flex-end;
}